<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="menu">
            <div class="title">
                <p class="header">Sweet</p>
            </div>            
            <div class="info">
                <form action="/" method="post">
                    <input type="text" name="inplink" placeholder="Enter your link here">
                    <input type="text" name="inpslug" placeholder="Link Slug (Optional)">
                    <input class="submit" name="inpsubmit" type="submit" run="link" value="link">
                </form>
            </div>
        </div>

        <script src="script.js"></script>
    </body>
</html>